<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Title</title>
  <link rel="stylesheet" href="./dist/style.css" />
  
</head>

<body>




  <div class="todo_app">
    <h2>ToDoリスト</h2>

    <div class="content">
      <div class="todo">
        <div id="header">ToDo</div>
        <div id="todo_body">
          <input type="text" placeholder="TODOを入力しましょう！" v-model="newItemTitle" v-on:keyup.enter="addTodo(newItemTitle)"></p>
          <ul>
            <li v-for="item in items">
              <label v-bind:class="{ done: item.isChecked }">
                <input type="checkbox" v-model="item.isChecked"> {{ item.title }}
              </label>
            </li>
          </ul>
          <button v-on:click="deleteTodo()">チェック済みの項目を削除する</button>
          <button v-on:click="MovetoWorking();deleteTodo()">移動</button>
        </div>
      </div>




      <div class="working">
        <div id="header">Working</div>
        <div id="working_body">
          <input type="text" placeholder="Workingを入力しましょう！" v-model="newItemTitle" v-on:keyup.enter="addTodo(newItemTitle)"></p>
          <ul>
            <li v-for="item in items">
              <label v-bind:class="{ done: item.isChecked }">
                <input type="checkbox" v-model="item.isChecked"> {{ item.title }}
              </label>
            </li>
          </ul>
          <button v-on:click="deleteTodo()">チェック済みの項目を削除する</button>
          <button v-on:click="MovetoDone();deleteTodo()">移動</button>
        </div>
      </div>
      <div class="done">
        <div id="header">Done</div>
        <div id="done_body">
          <ul>
            <li v-for="item in items">
              <label v-bind:class="{ done: item.isChecked }">
                <input type="checkbox" v-model="item.isChecked"> {{ item.title }}
              </label>
            </li>
          </ul>
          <button v-on:click="deleteTodo()">チェック済みの項目を削除する</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="./dist/script.js"></script>



</body>

</html>
