<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Title</title>
  <link rel="stylesheet" href="./dist/style_todo.css" />
  <link rel="stylesheet" href="./dist/style_weather.css" />

</head>

<body>




  <div class="todo_app">
    <h2>ToDoリスト</h2>

    <div class="content">
      <div class="todo">
        <div id="header">ToDo</div>
        <div id="todo_body">
          <input type="text" placeholder="TODOを入力しましょう！" v-model="newItemTitle" v-on:keyup.enter="addTodo(newItemTitle)"></p>
          <ul>
            <li v-for="item in items">
              <label v-bind:class="{ done: item.isChecked }">
                <input type="checkbox" v-model="item.isChecked"> {{ item.title }}
              </label>
            </li>
          </ul>
          <button v-on:click="deleteTodo()">チェック済みの項目を削除する</button>
          <button v-on:click="MovetoWorking();deleteTodo()">移動</button>
        </div>
      </div>

      <div class="working">
        <div id="header">Working</div>
        <div id="working_body">
          <input type="text" placeholder="Workingを入力しましょう！" v-model="newItemTitle" v-on:keyup.enter="addTodo(newItemTitle)"></p>
          <ul>
            <li v-for="item in items">
              <label v-bind:class="{ done: item.isChecked }">
                <input type="checkbox" v-model="item.isChecked"> {{ item.title }}
              </label>
            </li>
          </ul>
          <button v-on:click="deleteTodo()">チェック済みの項目を削除する</button>
          <button v-on:click="MovetoDone();deleteTodo()">移動</button>
        </div>
      </div>
      <div class="done">
        <div id="header">Done</div>
        <div id="done_body">
          <ul>
            <li v-for="item in items">
              <label v-bind:class="{ done: item.isChecked }">
                <input type="checkbox" v-model="item.isChecked"> {{ item.title }}
              </label>
            </li>
          </ul>
          <button v-on:click="deleteTodo()">チェック済みの項目を削除する</button>
        </div>
        </div>
      </div>
    </div>
  </div>


<div class="weather_app">
<h2>天気</h2>
<div id="weather_box">
<div id="weather_info">
      <p class="weather_city">都市：{{ city }}</p>
      <p class="weather_condition">天気：{{ condition.main }}</p>
      <p class="weather_temp">現在気温：{{ temp | roundUp }}&deg;C</p>
      <p class="weather_temp">最低：{{ temp_min | roundUp }}&deg;C</p>
      <p class="weather_temp">最高：{{ temp_max | roundUp }}&deg;C</p>
      <p class="weather_temp">湿度：{{ humidity}}％</p>
</div>
      <p v-if="condition.main == 'Rain'"><img src="img/rainy.jpg" alt="Rainy"></p>
      <p v-else-if="condition.main == 'Clouds'"><img src="img/cloudy.jpg" alt="Cloudy"></p>
      <p v-else-if="condition.main == 'Clear'"><img src="img/sunny.jpg" alt="Sunny"></p>
      <!-- <p v-else><img src="..img/sunset.jpg" alt="Sunset"></p> -->
    </div>

</div>
<div class="news_app">
  <h2>ニュース</h2>
</div>









  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./dist/script_todo.js"></script>
  <script src="./dist/script_weather.js"></script>



</body>

</html>
